.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.header {
  width: auto;
}

.header p {
  text-align: center;
}

.cloudform {
  width: 100%;
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 13px;
  padding: 15px;
  /* padding: 1rem 2rem 1rem 2rem; */
  width: 100%;
  min-height: 70px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #d9d9e3;
  border-top: 0;
  background: #ffffff;
  color: #000;
  outline: none;
}
.textarea:focus{
  outline: none;
  box-shadow: none;
}

.textarea:disabled {
  opacity: 0.5;
}

/* .textarea:focus {
  outline: none;
  border-color: #6b7280;
  box-shadow: 0 0 0 3px rgba(156, 163, 175, 0.5);
} */

.textarea::placeholder {
  color: #6b7280;
}

.generatebutton {
  position: absolute;
  top: 0.87rem;
  right: 1rem;
  color: rgb(165, 162, 162);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #e4575726;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 15px;
}
.messagelist::-webkit-scrollbar {
    width: 5px;
  }
   
  /* .preview-sample .preview_content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  } */
   
  .messagelist::-webkit-scrollbar-thumb {
    background-color: #012D48;
    border-radius: 5px;
    /* outline: 1px solid slategrey; */
  }

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;;
}
.usermessageRow,
.apimessageRow{
  display: flex;
}
.usermessageRow{
  justify-content: flex-end;
}

.apimessageRow{
  justify-content: flex-start;
}
.usermessage {
  /* background: #ffffffaa; */
  display: flex;
  color: #FFF;
  flex-direction: row-reverse;
  /* justify-content: flex-end; */
}

.apimessage {
  /* background: #f9fafb66; */
  
  
  /* animation: fadein 0.5s; */
}

.usermessage,
.apimessage{
  /* padding: 0.3rem; */
  max-width: 80%;
  width: 100%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.usermessagewaiting {
  /* padding: 1.5rem; */
  color: #FFF;
  display: flex;
  /* color: #FFF; */
  flex-direction: row-reverse;
  /* background: #012D48; */
  /* max-width: 80%;
  width: 100%; */
  /* background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient; */
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
  align-items: center;
}

.markdownanswer {

  border-radius: 4px;
  overflow: hidden;
  font-size: 13px;
  padding: 10px;
  /* line-height: 1.75; */
}

.apimessageRow .markdownanswer{
  background-color: #FFF;
}

.usermessageRow .markdownanswer{
  background-color: #012D48;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #b13a3a;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon,
.usericon{
  border-radius: 0.1rem;
  height: 35px;
  width: 35px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}
.boticon{
  margin-right: 1rem;
}
.usericon {
  margin-left: 1rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* padding: 2rem 0; */
  flex-direction: column;
  width: 100%;
}

.cloud {
  width: 100%;
  height: calc(85vh - 100px);
  background-color: #F0F3F5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #d9d9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
  /* backdrop-filter: blur(15px); */
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    max-height: 90vh;
  }

  .cloud {
    width: 22rem;
    height: 28rem;
  }
  .textarea {
    width: 22rem;
  }
  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }

  .footer {
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}

.logo {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo1 {
  top: 65%;
  left: 15%;
  animation: float 6s ease-in-out infinite;
}
.logo2 {
  top: 20%;
  left: 60%;
  animation: float 9s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.logosContainer {
  height: auto;
  z-index: -1;
}
.container{
  margin: 0 auto;
}